body {
  padding-top: 5rem;
}


html { 
  background-image: url("../images/body.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px
}

h1 a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px
}


#News{
    display: inline-block;
    padding: 0px 25px;
    height: 30%;
    border: solid;
    border-radius: 25px;
    border: 3px inset rgb(0, 0, 0);
    width: 80%;
    margin-top: 100px;
    margin-left: auto;

}

.row{
    margin-top: 54px;
}

#newsRow{
  padding: 2px 25px;
  text-align: center;
}


#navbar a {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

#navbar {
  margin-left: 25%;
}
